
#bgImage {
    background-image: url('../../../assets/Social Media/black-background-04-coolbackgrounds.png');
    /* Additional styles for the background */
    background-size: cover;
    background-position: center;
    
    height: 30vh; /* Full viewport height */
}
