
body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #151515;
    color: white;
  }
  
  .logo {
    width: 40px;
    font-size: 1.5em;
  }
  
  .nav-links {
    display: flex;
    gap: 5px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: .8em;
    z-index: 2;

  }
  
  .nav-link:hover {
    color: #DC5F00;
    z-index:1;
  }

  .nav-link.active { 
    color: #DC5F00;
    font-size: 12px;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #000000;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 150px;
      border-radius: 5px;
      z-index: 1;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links a {
      padding: 10px;
      border-bottom: 1px solid #555;
    }
  
    .nav-links a:last-child {
      border-bottom: none;
    }
  
    .menu-icon {
      display: block;
    }
  }
  